body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background: #BBBBBB;
    padding: 5px 0;
}

h1 img {
    width: 127px;
    height: 200px;
}

main {
    padding-top: 220px;
}

.caixa {
    position: relative; 
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute; /* para que nav seja absolute com relação à div.caixa e não com relação à página */
    top: 90px;
    right: 0;
}
 
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline; /* Fica sublinhado quando o mouse fica por cima do menu de navegação */
}

/* CSS da página de produtos */
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%; /* Largura agora é 30% definitivo, então o espaçamento interno não vai interferir na largura dos elementos */
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active { /* Muda o elemento quando ele está sendo clicado/ativo */
    border-color: #088C19;
} 

.produtos li:hover h2 { /* Quando o mouse estiver por cima (hover) de produtos li, ele vai alterar h2 */
    font-size: 30px;
}

.produtos h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Special Elite', cursive;
}

footer {
    text-align: center;
    background: url("./images/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px 0 0;
}

 /* CSS da página de contato */
form {
    margin: 40px 0 0 40px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2); /* Aumenta em 20% proporcionalmente todo o input */
}

table {
    margin: 20px 0 40px 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* CSS da página inicial */
.banner {
    width: 100%;
}

.titulo-principal {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 2em; /* em é uma medida baseada na fonte base (2em significa que ela tem 2 vezes o tamanho da fonte base) */
    margin: 0 0 1em;
    clear: left;
}

.titulo-principal::first-letter { /* Primeira letra dos títulos em negrito */
    font-weight: bold;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5; /* Altura da linha */
}

.itens:before {
    content: "★ ";
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px #000000;
}

.imagem-beneficios:hover {
    opacity: 0.7;
}

.video {
    width: 560px;
    margin: 2em auto;
}

/* Responsividade */
@media screen and (max-width: 480px) { /* Para adptação em mobile */
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video, .produtos, form {
        width: auto;
        margin: 10px;
    }

    main {
        padding: 0;
    }

    header {
        width: auto;
        margin: 0;
        position: relative;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        text-align: center;
    }

    .lista-beneficios, .imagem-beneficios, .enviar, #mensagem {
        width: 100%;
    }

    .produtos li {
        margin: 0;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}